/* CSS declarations go here */

* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Hind', sans-serif;
	box-sizing: border-box;
}

.header_div {
	width: 100%;
	height: 340px;
	background-color: #000;
	background-image: url('/images/banner.png');
	background-size: 100%;
	margin: 0px;
}

.header_search_div {
	background-image: url('/images/bg.png');
	height:225px;
}

.inner_header {
	width: 50%;
	margin: 0 auto;
	position: relative;
}

.inner_header img {
	width: 200px;
	margin-top: 20px;
	float: left;
}

nav ul {
	margin: 0px;
	padding-top: 14px;
	float:right;
	position: realtive;
}

nav ul li {
padding: 4px 0px;
color: #fff;
display: inline-block;
list-style-type: none;
}

nav ul li.button_container {
	width: 85px;
}



nav ul li a {
text-decoration: none;
color: #fff;
margin: 0px 8px;
font-size: 11px;
width: 100%;
position: relative;
display: block;
text-align: left;
}

nav ul li a:hover {

}

nav ul li.button_container a{
	margin-left: 0px;
	margin-right: 0px;
}

.orange-button {
cursor:pointer;
text-align: center;
	background-color: #F27835;
	border: 2px solid #F27835;
	color: #000;
	font-weight: bold;
	padding: 0px 20px;
	margin-right: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-size: 11px;
}



a:hover {
	color: #be4d0d;
	text-decoration:none;
}

.orange-button:hover {
background-color: #be4d0d;
border: 2px solid #be4d0d;
color: #000;
}

.white-button {
text-align: center;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
}

.white-button:hover {
	background: #fff;
	color: #000;
	font-weight: bold;
}

.left-content {
	float: left;
	clear: left;
	width: 50%;
	margin: 20px 0px 30px 0px;
	color: #fff;
}

.orange-button.large-button {
margin-top: 10px;
padding: 5px;
position: relative;
display: inline-block;
width:50%;
}

p {
margin: 0px;
}

p:last-child {
	margin-bottom: 20px;
}

.arrow {
	display: inline-block;
	width: 50px;
	float: right;
	height: 100px;
	vertical-align: text-bottom;
}

.arrow img {
	width: 30px;
	margin-top: 55px;
}

#about_us {
	margin: 0 auto;
	width:50%;
}

.right-img {
float:right;
width:200px;
}

.left-div {
width:70%;
float:left;
}

.left-div p {
	font-size: 11px;
}

#about_us h2,#how_it_works h2, #contact_us h2{
color: #888;
font-size: 24px;
padding-top: 20px;
}

.separator-1 {
position:relative;
display:block;
float: left;
clear: both;
width: 100%;
height: 180px;
background-image: url('/images/Location-image.png');
background-position: center;
}

#how_it_works {
	display: block;
	position: relative;
	float: none;
	clear: both;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

figure {
width: 27%;
margin: 20px 20px;
display: inline-block;
z-index: 4;
text-align:center;
float:left;
}

figure img {
z-index: 6;
}

#how_it_works hr {
	border: 2px solid #F27835;
	position: absolute;
	display: block;
	width: 70%;
	z-index: -1;
	top: 160px;
	margin: 0 auto;
	margin-left: 30px;
}

.separator-2 {
	background-image: url('images/coffee.png');
	height: 150px;
	background-color: #000;
	width: 100%;
	margin-top: 30px;
	background-size: 100%;
	position: relative;
	float: left;
	clear: both;
	display: block;
}

.mini-wrapper {
width: 50%;
margin: 0 auto;
	text-align: center;
	margin: 0 auto;
}

.mini-wrapper .mini {
	width: 32%;
	float: left;
	display: inline-block;
}


address p {
	margin: 0px;
	padding: 0px;
	color: #fff;
}

.mini-wrapper .mini img {
	margin: 10px 0px;
	height: 30px;
}

#contact_us {
	position: relative;
	display: block;
	margin: 0 auto;
	float: none;
	margin-top: 0px;
	float: left;
	width:100%;
	background-color:#eee;
	padding-bottom: 40px;
}

#contact_us .form_container {
	width: 20%;
	margin: 0 auto;
}

#contact_us form {
	text-align: left;
	position: realtive;
	margin: 0 auto;
	display:block;
	float: none;
}

#contact_us label {
	font-weight: bold;
	font-size: 12px;
	display: block;
}

#contact_us input, #contact_us textarea {
	border: 1px solid #ccc;
	width: 100%;
	padding: 10px;
	height: 30px;
}

#contact_us textarea {
	height: 60px;
}

#contact_us h2, #contact_us p {
	text-align:center;
}


.form-button {
	float: right;
	clear: left;
	display: block;
	color: #000;
	border: 1px solid #000;
	font-weight: bold;
	width: 50%;
	text-align: center;
	border-radius: 10px;
	margin-top: 20px;
	font-size: 11px;
	padding:5px;
}

footer {
	height: 60px;
	background-color: #999;
	width: 100%;
	display: block;
	float: left;
	text-align: center;
}

footer img {
	margin: 0 auto;
	margin-top: 20px;
}

.search_form{
	width: 100%;
}


.search_form h2, .search_form input {
	display: inline-block;
	width: 250px;
	float: left;
	color: #fff;
}


.search_form h2 {
	clear: left;
	margin: 0px 0px;
	font-size: 30px;
}

.search_form  input{
clear: right;
background: transparent;
font-size: 20px;
margin-top:10px;
height:30px;
border:none;
border-bottom: 2px solid #fff;
}

.show_user_name {
	padding: 3px 15px;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
}

nav.drop_down {
	position: absolute;
	margin-top: 0px;
	border: 1px soild #f0f;
	right:0px;
	margin-top: 8px;
	text-align: center;
	width: 300px;
}

nav.drop_down ul {
	padding: 0px 10px;
	background-color: #fff;
	border-radius: 10px;
}

nav.drop_down ul li {
display: block;
color: #000 !important;
border-bottom: 1px solid #000;
text-align: center;
}

nav.drop_down ul li:last-child {
	border-bottom: none;
}

nav.drop_down ul li a{
	color:#000;
}

nav.drop_down ul li a:hover{
	color:#be4d0d;
}

.triangle {
	border: 1px solid #000;
	width: 15px;
	height: 15px;
	background-color: #fff;
	position: absolute;
	right: 10px;
	display: block;
	transform: rotate(45deg);
}

.user {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	margin: 10px;
	width: 50%;
	float:left;
}

.connect-to {
    width: 100%;
    padding: 0px 26px;
}

.current_users {
	width: 60%;
	margin: 0 auto;
}

.skills ul li {
	bullet-style-type: normal;
}

.connect {
	width:60%;
	float: right;
}

.connect-to {
	width: 100px;
}

.sub-menu .white-button {
	border: 1px solid #999 !important;
	color: #000 !important;
	width: 79px;
	padding: 0px 12px;
}
